@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplomb admin site</h1>
    <p class="lead">Aplomb is a free web platform, designed from the ground up for flexibility and security.</p>
    <p>This admin site will allow you to configure and control your website with ease. Please contact us if you require any help or assistance.</p>
    <p>@Html.ActionLink("Contact us »", "Contact", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data model</h2>
        <p>
            Control the data types your website will store, and configure the relationships between them.
        </p>
        <p>@Html.ActionLink("Edit »", "Index", "Data", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Site pages</h2>
        <p>Manage the pages of your website, control the information they display, and configure the menus that allow users to navigate them.</p>
        <p>@Html.ActionLink("Edit »", "Index", "Site", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Users &amp; security</h2>
        <p>Manage the user accounts and security groups of your website.</p>
        <p>@Html.ActionLink("Edit »", "Index", "Security", null, new { @class = "btn btn-default" })</p>
    </div>
</div>